body
{	background:-webkit-linear-gradient( left, black, #0A0A29 );
	background:-moz-linear-gradient( left, black, #0A0A29 );
	background:linear-gradient( left, black, #0A0A29 );
	background-color:Black;
	color:Silver;
	font-family: Verdana, sans-serif; }
h1
{
	text-align:center;
}
td
{
	// width:16%;
	border-style:solid;
}
code
{	color:BurlyWood; }
a:link
	{ color:Crimson; }
a:visited
	{ color:Brown; }
::selection
	{ color:DarkViolet; }
.td_clue
{
	border-style:none;
}
.l_links
{	width:17%;
	float:left; }
.content
{	width:60%;
	float:left; }
.bit_1
{	width:20%;
	float:left; }
.bit_2
{	width:30%;
	float:left; }
.bit_3
{	float:left; }
.spoiler
{	color:#0B0A29; }
.aside
{	color:RosyBrown; }
.comment
{	color:DarkOliveGreen; }