<!DOCTYPE html>
<html>
	<body>
																<br />
															<input
																	type = "text"
																	value = ""
																	size = "10"
																/>
															<div
																		id = "{{id_of_input}}"
																>
																<br />
																<button
																		href = "/addInput/{{id_of_input}}"
																		hx-get = "/addInput/{{id_of_input}}"
																		hx-target = "#{{id_of_input}}"
																		 hx-swap = "outerHTML"
																	>
																	+
																	</button>
																</div>
		</body>
	</html>