<!DOCTYPE html>
<html
		language = 'en-us'
	>
	<head>
		<meta
				charset = "utf-8"
			/>
		<meta
				name = "Author"
				content = "Nicholas Prado"
			/>
		<title>
			Vjezhu
			</title>
		<link
				rel="stylesheet"
				href="basic.css"
			/>
		<script
				type = "text/javascript"
				src = "htmx.min.1.7.0.js"
				integrity = "sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
			>
			</script>
		</head>
	<body>
		<h2>
			Some kakuro puzzle
			</h2>
		<p>
			{{{entire_board}}}
			</p>
	   </body>
	</html>





