<html>
							<table>
								<tbody>
									<tr>
										<td>
											<table>
												<tbody>
													<tr>
														<td>
															<input
																	type = "text"
																	value = ""
																	size = "10"
																/>
															<turbo-frame
																		id = "{{id_of_cell_row_clue}}"
																>
																<br />
																<a href = "/addInput/{{id_of_cell_row_clue}}">
																	+
																	</a>
																</turbo-frame>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										<td>
											<table>
												<tbody>
													<tr>
														<td>
															<input
																	type = "text"
																	value = ""
																	size = "10"
																/>
															<turbo-frame
																		id = "{{id_of_cell_column_clue}}"
																>
																<br />
																<a href = "/addInput/{{id_of_cell_column_clue}}">
																	+
																	</a>
																</turbo-frame>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										<td>
											<input
													type = "text"
													id = "content11g"
													name = "content11g"
													value = ""
													size = "10"
												/>
											</td>
										</tr>
									</tbody>
								</table>
	</html>